body {
    margin: 0;
}
.header {
    color: #f9faf8;
    background-color: #1F2937;
    padding: 0 256px 64px 256px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_title {
    font-weight: 800;
    font-size: 48px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.links {
    display: flex;
    gap: 16px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom img {
   width: 100%;
   height: 100%; 
}

.body_title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.body_title {
    margin: 64px;
}
.img-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 128px;
}

.info {
    max-width: 200px;
}
.info .text {
    text-align: center;
}

.info img {
    width: 200px;
    height: 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 128px 512px;
}

.quote .text {
    font-style: italic;
    font-size: 36px;
}

.author {
    text-align: right;
    font-weight: bold;
    padding: 8px 0;
}

.action {
    background-color: #3882f6;
    margin: 128px 310px;
    padding: 64px 128px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.action .text .title{
    font-weight: bold;
    font-size: 36px;
}

.action button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: white;
    font-weight: 1000;
    padding: 0 32px;
    margin: 10px;
}

.bottom button,
.action,
.action button {
    border-radius: 12px;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 32px;
}